body {
  margin:0;
  background-color: #000000;
}

canvas {
  width: 100%;
  height: 100%;
}

#info {
	position: absolute;
}

#intxt {
  position: absolute;
  background-color: #000000;
  font-size:0.9em;
  color:#ffffff;
  border:1px solid #ffffff;
  width:500px; height:50px;
  padding-left:10px;
  font-family: tahoma, sans-serif;
  margin-left: 40px;
}

#gotxt {
  position: absolute;
  background-color: #000000;
  font-size:0.9em;
  color:#ffffff;
  width:40px; height:50px;
  font-family: tahoma, sans-serif;
}
